/*
collapsLink Links version: 0.4
Copyright 2007 Robert Felty

This work is largely based on the Fancy Links plugin by Andrew Rader
(http://voidsplat.org), which was also distributed under the GPLv2. See the
CHANGELOG file for more information.

This file is part of collapsLink Links

		collapsLink Links is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License as published by 
    the Free Software Foundation; either version 2 of the License, or (at your
    option) any later version.

    collapsLink Links is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with collapsLink Links; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

span.collapsLink {border:0;
 padding:0; 
 margin:0; 
 cursor:pointer;
font-size:1.3em;
 font-family: Monaco, 'Andale Mono', Courier, monospace;
}

#sidebar li.collapsLink:before {content:'';} 
#sidebar li.collapsLink {list-style-type:none}
#sidebar li.collapsLinkPost {
             text-indent:-1em;
             margin:0 0 0 1em;}
#sidebar li.collapsLinkPost:before {content: "\00BB \00A0" !important;} 
.sym {font-family:monospace;
      font-size:1.5em;
      padding-right:5px;}
